.main-chat{
  float: left;
  width: calc(100vw - 300px);
  &__header{
    border-bottom: solid 1px #eeeeee;
    height: 100px;
    padding: 0 40px;
    overflow: scroll;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    &__group{
      margin-top: 35px;
      &__name{
        font-size: 20px;
        color: #333333;
      }
      &__member{
        padding-top: 15px;
        color: #999999;
      }
    }
    &__edit{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $light_blue;
      text-align: center;
    }
  }
.messages{
  height: calc(100vh - 190px);
  overflow: scroll;
  padding: 0px 40px;
  background-color: #fafafa;
  .main-chat__message{
    margin-top: 46px;
    
    &__box{
      display: flex;
      justify-content: flex-start;
      &__name{
        font-size: 16px;
        color: #434a54;
      }
      &__date{
        font-size: 12px;
        color: #999999;
        margin-left: 10px;
      }
    }
    &__text{
      font-size: 14px;
      color: #434a54;
      margin-top: 10px;
    }
  }
}

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}